.filter-button {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    box-shadow: none;
    border: solid 3px #e3340c;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    min-width: 50px;
    font-size: 10px;
    transition: 0.3s;
}

.filter-button:hover {
    background-color: #c1272d;
}

.filter-button.active {
    border-color: #d82a30;
    background-color: #d82a30;
}